.main {
    background: linear-gradient(135deg, rgba(0, 99, 246), #3498db); 
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    max-width: 100%;
    margin: 0 auto; 
}
.header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
}

.day {
    font-size: 15px;
    color: #fff; 
    margin-bottom: 10px;
}

.temp {
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
